@import url(modern-normalize.css); /* нормализуем стили для последней версии браузеров https://github.com/sindresorhus/modern-normalize */

:root { 
  scroll-behavior: smooth;
  
  /* дефолты и цвета для светлой темы */
  --container: 1024px;

  /* для <length> используем rem чтобы была зависимость от настроек браузера пользователя */
  --step: 0.25rem;  /* зададим шаг для отступов */
  --xxs:  calc(var(--step) * 0.5);      /*  2px */
  --xs:   var(--step);                  /*  4px */
  --s:    calc(var(--xs) * 1.5);        /*  6px */
  --m:    calc(var(--xs) * 2);          /*  8px */
  --l:    calc(var(--m) * 1.5);         /* 12px */
  --xl:   calc(var(--m) * 2);           /* 16px */
  --xxl:  calc(var(--xl) * 1.5);        /* 24px */
  --xxxl: calc(var(--xl) * 2);          /* 32px */

  --font-step: 0.25rem; /* и шаг для шрифтов    4px */
  --font-xs:   calc(var(--font-step) * 2);  /*  8px */
  --font-s:    calc(var(--font-xs) * 1.5);  /* 12px */
  --font-m:    calc(var(--font-xs) * 2);    /* 16px */
  --font-l:    calc(var(--font-m) * 1.25);  /* 20px */
  --font-xl:   calc(var(--font-m) * 1.5);   /* 24px */
  --font-xxl:  calc(var(--font-xl) * 1.25); /* 30px */
  --font-xxxl: calc(var(--font-xl) * 1.5);  /* 36px */

  --background: #fff;
  --foreground: #222;
  --muted: #ddd;
  --muted-foreground: #444;
  --primary: #00d;
  --secondary: #707;
  --accent: #000;
  --error: #d00;
  --success: #0d0;
  --shadow: #20202040;

  --shadow-size: 0.25rem;
  --shadow-blur: 1rem;
  --shadow-spread: 0.125rem;
  --shadow-bottom: 0 var(--shadow-size) var(--shadow-blur) var(--shadow-spread) var(--shadow);

  --transition: 0.1s; /* базовое время для анимаций */
  --theme-transition: color calc(var(--transition) * 8) ease-in, background-color calc(var(--transition) * 8) ease-in;
}

.dark { /* переопределение для тёмной темы */
  --background: #000;
  --foreground: #ddd;
  --muted: #222;
  --muted-foreground: #bbb;
  --primary: #44d;
  --secondary: #747;
  --accent: #fff;
  --error: #d00;
  --success: #0d0;
  --shadow: #d0d0d040;
  --shadow-bottom: 0 var(--shadow-size) var(--shadow-blur) var(--shadow-spread) var(--shadow);
}

body { /* настройка общих стилей */
  background-color: var(--background);
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100dvh; /* прибиваем футер */
  color: var(--foreground);

  transition: var(--theme-transition); /* плавное переключение темы */

  font-size: var(--font-m);

  h4 {
    font-size: var(--font-l);
    margin-block-end: 0.25em;
  }

  h3 {
    font-size: var(--font-xl);
    margin-block-end: 0.25em;
  }

  h2 {
    font-size: var(--font-xxl);
    margin-block-end: 0.25em;
  }

  h1 {
    font-size: var(--font-xxxl);
    margin-block-end: 0.25em;
  }

  p {
    margin-block-start: 0.25em;
  }

  a {
    color: var(--primary);
    text-underline-offset: 2px;

    &:visited {
      color: var(--secondary);
    }
  }
}

.reverse { /* правила для блоков с инверсным текстом */
  background-color: var(--accent);
  color: var(--background);
  transition: var(--theme-transition);
}
